@page
@model PRN_Final_Project.Pages.SlotPage.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create" class="btn">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Slot[0].startTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slot[0].endTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Slot) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.startTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endTime)
            </td>
            <td>
                    <a asp-page="./Edit" class="btn btn-warning btn-sm" asp-route-id="@item.SlotID">Edit</a> |
                    <a asp-page="./Details" class="btn btn-info btn-sm" asp-route-id="@item.SlotID">Details</a> |
                    <a asp-page="./Delete" class="btn btn-danger btn-sm" asp-route-id="@item.SlotID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
