@page
@model PRN_Final_Project.Pages.Staff.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.appointmentDay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.appointmentDay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.total)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.deposit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.deposit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.cusID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.cusID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Therapist)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Therapist.fullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Service)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Service.description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Slot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Slot.SlotID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.createdAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.createdAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.updatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.updatedAt)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Booking.BookingID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
