@page
@model PRN_Final_Project.Pages.CustomerManage.ProfileModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    var customerId = Model.Customer.cusID;
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.fullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.fullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.dob)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.dob)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.imageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.imageUrl)
        </dd>
    </dl>
</div>
<div>
    <a class="btn" asp-page="./Edit" asp-route-id="@customerId">Edit</a> |
    <a asp-page="/HomePage">Back to HomePage</a>
</div>
