@page
@model PRN_Final_Project.Pages.BookingPage.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a class="btn" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Appointment day
            </th>
            <th>
                Status
            </th>
            <th>
               Total
            </th>
            <th>
                Deposit
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Therapist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Slot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Customer)
            </th>
            <th>
                Create at
            </th>
            <th>
                Update at
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Booking) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.appointmentDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deposit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Therapist.fullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service.description)
            </td>
            <td>
                @item.Slot.startTime.ToString("hh\\:mm") - @item.Slot.endTime.ToString("hh\\:mm")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.fullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.updatedAt)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.BookingID" class="btn btn-warning btn-sm">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.BookingID" class="btn btn-info btn-sm">Details</a> |
                    <form method="post" asp-page="./Delete" asp-route-id="@item.BookingID" style="display:inline;">
                        <button type="submit" class="btn @(item.status == "Deleted" ? "btn-success" : "btn-danger") btn-sm">
                            @(item.status == "Deleted" ? "Restore" : "Delete")
                        </button>
                    </form>
            </td>
        </tr>
}
    </tbody>
</table>
