@page
@model PRN_Final_Project.Pages.TherapistPage.ScheduleModel

@{
    ViewData["Title"] = "My Schedule";
}

<h1>My Schedule</h1>


@if (Model.Bookings.Any())
{
    <table class="table mt-3">
        <thead>
            <tr>
                <th>Appointment Date</th>
                <th>Time Slot</th>
                <th>Customer</th>
                <th>Status</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in Model.Bookings)
            {
                <tr>
                    <td>@booking.appointmentDay.ToString("yyyy-MM-dd")</td>
                    <td>@booking.Slot.startTime</td>
                    <td>@booking.Customer.fullName</td>
                    <td>@booking.status</td>
                    <td>@booking.total</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No bookings found for your schedule.</p>
}

